<div class="container">
    <div class="row" style="margin-top: 1rem;">
        <h3 style="text-align: center;">Ver producto</h3>

        <form  id="crear">

            <div class="row">
                <div class="col-md-12">
                    <input type="text"
                        placeholder="Nombre del producto" class="form-control" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input type="text"
                        placeholder="Caracteristicas" class="form-control" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input type="date" 
                        placeholder="Fecha de lanzamiento" class="form-control" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input type="email" 
                        placeholder="Correo del fabricante" class="form-control" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" 
                        placeholder="Pais de fabricacion" class="form-control" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input type="number" 
                        placeholder="Precio" class="form-control" required>
                </div>
            </div>
            <br>            
            <div class="row">
                <div class="col-md-12">
                    <input type="number" 
                        placeholder="Unidades disponibles" class="form-control" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input type="number" 
                        placeholder="Unidades vendidas" class="form-control" required>
                </div>
            </div>
            <br>           


            <br>
            <div class="row">
                <div class="col-md-6">
                    <input class="btn btn-succes float-right" style="background-color:#008080 ;" type="submit" value="Crear">
                </div>
                <div class="col-md-6">
                    <input class="btn btn-succes float-right" style="background-color:red ;" type="submit" value="Cerrar">
                </div>
            </div>
        </form>



    </div>

</div>