<div class="container">
    <div class="row" style="margin-top: 1rem;">
        <h1 style="text-align: center;">Crear producto</h1>

        <form (ngSubmit)="crearProducto()" id="crear" enctype="multipart/form-data">

            <div class="row">
                <div class="col-md-12">
                    <input type="text" [(ngModel)]="producto.nombre" [ngModelOptions]="{standalone:true}"
                        placeholder="Nombre del producto" class="form-control" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" [(ngModel)]="producto.caracteristicas" [ngModelOptions]="{standalone:true}"
                        placeholder="caracteristicas" class="form-control" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input type="date" [(ngModel)]="producto.fechaLanzamiento" [ngModelOptions]="{standalone:true}"
                         class="form-control" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input type="email" [(ngModel)]="producto.correoFabricante" [ngModelOptions]="{standalone:true}"
                        placeholder="Correo Fabricante" class="form-control" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" [(ngModel)]="producto.paisFabricacion" [ngModelOptions]="{standalone:true}"
                        placeholder="Pais de fabricacion" class="form-control" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input type="number" [(ngModel)]="producto.precio" [ngModelOptions]="{standalone:true}"
                        placeholder="Precio" class="form-control" required>
                </div>
            </div>
            <br>            
            <div class="row">
                <div class="col-md-12">
                    <input type="number" [(ngModel)]="producto.unidadesDisponibles" [ngModelOptions]="{standalone:true}"
                        placeholder="Unidades disponibles" class="form-control" required>
                </div>
            </div>
            <br>           

            <div class="row">
                <div class="col-md-12">
                    <input type="number" [(ngModel)]="producto.unidadesVendidas" [ngModelOptions]="{standalone:true}"
                        placeholder="Unidades vendidas" class="form-control" required>
                </div>
            </div>
            <br>  


            <div class="row">
                <div class="col-md-12">
                    <input type="text" [(ngModel)]="producto.imagen" [ngModelOptions]="{standalone:true}"
                        placeholder="Coloca la url de la imagen desde la nube" id="imagen" class="form-control" required>
                </div>
            </div>
            <br>  

            <br>
            <div class="row">
                <div class="col-md-6">
                    <input class="btn btn-succes float-right" style="background-color:#008080 ;" type="submit" value="Crear">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-succes float-right" style="background-color:red;" (click)="cerrar()">Cerrar </button>
                </div>
            </div>
        </form>



    </div>

</div>