<div class="container">




    <input type="text"  class="form-control" placeholder="Buscar producto" [(ngModel)]="filterPost" name="filterPost">
    <input type="text"  class="form-control" placeholder="Buscar por pais" [(ngModel)]="filterPostPais" name="filterPostPais">

    <div class="row">
        <div class="col-2" *ngFor="let prod of productos | paginate: { itemsPerPage: 2, currentPage:page} | buscarNombre:filterPost | buscarPais:filterPostPais ">
            <div class="card" style="width:200px, height,200px;"  >
                <img class="card-img-top" src="{{prod.imagen}}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{prod.nombre}}</h4>
                    <p class="card-text">{{prod.caracteristicas}}.</p>
                    <button type="button" class="btn btn-primary" style="background-color: #008080;"
                        (click)="verProducto(prod)">Ver producto</button>
                    <button type="button" class="btn btn-primary" style="background-color: red"
                        (click)="eliminar(prod)">Eliminar producto</button>
                </div>
            </div>
        </div>
        <pagination-controls (pageChange)="page = $event" previousLabel="Previous" nextLabel="Next">
        </pagination-controls>
        <div class="col-3"></div>

        <div class="col-3"></div>

    </div>



</div>