<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #008080;" style="background-color: #008080">
    <a class="navbar-brand" href="#">Home</a>
    <a class="navbar-brand" routerLink="/crearProducto">Crear Producto</a>
    <a class="navbar-brand"  routerLink="/listaProductos">Listar producto</a>
    <a class="navbar-brand"   href="#">Cerrar sesion</a>
   <a > <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
    <span class="d-none d-sm-inline mx-1">Usuario</span>
</a>




  </nav>